table#list {
    border: 1px solid grey;
    margin-top: 40px;
}

h1 {
    margin: 20px;
}

h2 {
    margin: 15px;
}

td, th {
    padding: 10px;
}

table#list img {
    max-width: 300px;
    max-height: 120px;
}

table#tableedit img {
    max-width: 900px;
    max-height: 650px;
}

table {
    width: 100%;
}

label {
    width: 90%;
}

table#list tr:nth-child(even) {
    background-color: #f2f2f2;
}

body {
    margin: auto;
    width: auto;
    text-align: center;
}

img#preview {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

textarea {
    margin: 10px;
    vertical-align: middle;
}

.floating-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #ff5722;
    color: #fff;
    border-radius: 50%;
    font-size: 45px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    z-index: 9999;
    width: 70px;
    height: 70px;
}

#textInputContainer .textInput {
    border: 1px solid #444;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
}

#textInputContainer .textInput label {
    margin: 5px;
}

#overlayContainer .overlay {
    border: 1px solid #444;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
}

#overlayContainer .overlay label {
    margin: 5px;
}

.imgPreviewContainer {
    position: relative;
    display: inline-block; /* You can use 'block' if you want it to take the full width */
}
  
.imgPreviewContainer img {
    display: block;
    max-width: 100%;
    height: auto;
}
  
.imgPreviewContainer .axes-x {
    position: absolute;
    bottom: 0;
    left: 0;
}
  
.imgPreviewContainer .axes-x {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 30px; /* Adjust the height of the x-axis */
    /* Add gradient background to the x-axis */
}
  
.imgPreviewContainer .axes-y {
    position: absolute;
    bottom: 0;
    left: -30px;
    width: 30px; /* Adjust the width of the y-axis */
    height: 100%;
    /* Add gradient background to the y-axis */
}

.imgPreviewContainer .label-x {
    position: absolute;
    transform: rotate(-90deg) translate(0%, -50%);
}

.imgPreviewContainer .label-y {
    position: absolute;
    transform: translate(0%, -50%);
}