{% extends 'base.html' %}

{% block content %}
<div class="container">
    <a href="{{ url_for('index') }}" class="floating-button">&#8592;</a>
    <h1>Generate The Meme</h1>
    <div id="notification" class="alert" role="alert" hidden></div>
    <p>
        Type in an input field (and then click elsewhere) to see a live preview !<br />
        When you are done editing, simply share the URL below to all your bros out there
    </p>

    <table id="tableedit">
        <tr>
            <td>
                <img src="{{ template.image_url }}" id="preview" />
            </td>
            <td>
                <form id="editor">
                    {% for i in range(template.nb_lines) %}
                        <label for="line-{{ i + 1 }}">Input #{{ i + 1 }}
                            <textarea id="line-{{ i + 1 }}" name="line-{{ i + 1 }}" class="line"></textarea>
                        </label><br />
                    {% endfor %}
                    {% if template.nb_overlays > 0 %}
                        <br /><p><i>This template supports overlays ! Customize it with your own images (for instance to cover the face of a character, or make it point to your image)</i></p>
                    {% endif %}
                    {% for i in range(template.nb_overlays) %}
                        <label for="ol-{{ i + 1 }}">Overlay #{{ i + 1 }} (optional)
                            <input accept="image/*" type="file" id="ol-{{ i + 1 }}" name="ol-{{ i + 1 }}" class="ol"></input>
                        </label><br />
                    {% endfor %}
                </form>
            </td>
        </tr>
    </table>
    
    <br />
    <button id="refreshLink">Get the URL !</button>
    <p id="linkParagraph" hidden>Here is your meme URL : <a href="" id="result">Loading...</a></p>
    <script>
        const meme_id = "{{ id }}";
        const meme_ext = "{{ template.extension }}";
        const base_url = location.protocol + '//' + location.host;
        const nb_overlays = {{ template.nb_overlays }};
        var overlay_urls = new Array(nb_overlays);

        document.getElementById("editor").addEventListener(
            'change',
            () => {
                var new_url = getUrl();
                refreshPreview(new_url);
            },
            false
        );

        var elements = document.getElementsByClassName("ol");
        for (var i = 0; i < elements.length; i++) {
            overlay_urls[i] = '';
            elements[i].addEventListener(
                'change', 
                (e) => {
                    var t = e.currentTarget;
                    const [file] = t.files;

                    var xhr = new XMLHttpRequest();
                    var url = '{{ url_for("overlay_upload") }}';
                    xhr.open('POST', url, true);

                    var formData = new FormData();
                    formData.append("overlay", file);
                
                    xhr.onreadystatechange = function() {//Call a function when the state changes.
                        if(xhr.readyState == 4 && xhr.status == 200) {
                            overlay_urls[parseInt(t.id.split('-')[1]) - 1] = JSON.parse(xhr.responseText)['tag'];
                            var new_url = getUrl();
                            refreshPreview(new_url);
                        }
                    }

                    xhr.send(formData);
                }, 
                false
            );
        }

        document.getElementById("refreshLink").addEventListener(
            "click",
            () => {
                var new_url = getUrl();
                refreshLink(new_url);
                document.getElementById("linkParagraph").hidden = false;
            },
            false
        );

        /* document.getElementById("result").addEventListener(
            "click",
            (e) => {
                e.preventDefault();
                navigator.clipboard.writeText(document.getElementById("result").text).then(() => {
                    console.log('Content copied to clipboard');
                    var notification = document.getElementById("notification");
                    notification.innerHTML = "Copied to clipboard";
                    notification.classList.remove("alert-danger");
                    notification.classList.add("alert-success");
                    notification.hidden = false;
                    var clearNotif = setInterval(() => {
                        clearInterval(clearNotif);
                        notification.hidden = true;
                    }, 5000);
                    return false
                },() => {
                    console.error('Failed to copy');
                    var notification = document.getElementById("notification");
                    notification.innerHTML = "Could not copy to clipboard... (most likely because site is not over HTTPS, see you in prod !)";
                    notification.classList.remove("alert-success");
                    notification.classList.add("alert-danger");
                    notification.hidden = false;
                    var clearNotif = setInterval(() => {
                        clearInterval(clearNotif);
                        notification.hidden = true;
                    }, 5000);
                    return false;
                });
                return false;
            },
            false
        ); */

        function urlsafe_b64encode(txt) {

            function b64EncodeUnicode(str) {
                // first we use encodeURIComponent to get percent-encoded UTF-8,
                // then we convert the percent encodings into raw bytes which
                // can be fed into btoa.
                return btoa(encodeURIComponent(str).replace(/%([0-9A-F]{2})/g,
                    function toSolidBytes(match, p1) {
                        return String.fromCharCode('0x' + p1);
                }));
            }
            return b64EncodeUnicode(txt).replace('+', '-').replace('/', '_').replace('=', '').replace('=', '').replace('=', '').replace('=', '');
        }

        function getUrl() {
            var form_content = document.getElementsByClassName("line");
            var lines_content = [];
            for (var i = 0, element; element = form_content[i++];) {
                var val = element.value;
                if (val === "") val = " ";
                lines_content.push(urlsafe_b64encode(val));
            }

            var custom_overlays = '';
            if (nb_overlays > 0 && !overlay_urls.every( v => v == '' )) {
                custom_overlays = '?style=' + overlay_urls.join(',');
            }
            
            var meme_url = "/api/images/" + meme_id + "/" + lines_content.join("/") + "." + meme_ext + custom_overlays;
            return meme_url;
        }

        function refreshLink(meme_url) {
            const Http = new XMLHttpRequest();
            const b64memeurl = urlsafe_b64encode(meme_url);
            const url = '/shorten?path=' + b64memeurl;
            Http.open("GET", url);
            Http.send();

            Http.onreadystatechange = (e) => {
                try {
                    const tag = JSON.parse(Http.responseText)['tag'];
                    const short_meme_url = '/meme/'+tag;
                    var result = document.getElementById("result");
                    result.text = base_url + short_meme_url;
                    result.href = short_meme_url;
                } catch (error) {
                    console.log(error);
                }
            }
        }

        function refreshPreview(meme_url) {
            var preview = document.getElementById("preview");
            preview.src = meme_url;
        }
    </script>
</div>
{% endblock %}
