{% extends 'base.html' %}

{% block content %}
<div class="container">
    <a href="{{ url_for('index') }}" class="floating-button">&#8592;</a>
    <h1>Generate The Meme</h1>
    <p>
        Type in an input field (and then click elsewhere) to see a live preview !<br />
        When you are done editing, simply share the URL below to all your bros out there
    </p>

    <table id="tableedit">
        <tr>
            <td>
                <img src="{{ template.image_url }}" id="preview" />
            </td>
            <td>
                <form id="editor">
                    {% for i in range(template.nb_lines) %}
                        <label for="line-{{ i + 1 }}">Input #{{ i + 1 }}
                            <textarea id="line-{{ i + 1 }}" name="line-{{ i + 1 }}"></textarea>
                        </label><br />
                    {% endfor %}
                </form>
            </td>
        </tr>
    </table>
    
    <br />
    
    Here is your meme URL : <a href="" id="result">Waiting for your talent...</a>

    <script>
        const conversions = {
            '_': '__',
            '\n': '~n',
            '-': '--',
            '_ ': '_-',
            ' _': '-_',
            '  ': '_-',
            ' ': '_',
            '"': '\'\'',
            '>': '~g',
            '<': '~l',
            '\\': '~b',
            '/': '~s',
            '#': '~h',
            '%': '~p',
            '&': '~a',
            '?': '~q'
        };
        const meme_id = "{{ id }}";
        const meme_ext = "{{ template.extension }}";
        const base_url = "{{ base_url }}";

        document.getElementById("editor").addEventListener(
            'change',
            function() { var new_url = getUrl(); refreshLink(new_url); refreshPreview(new_url);},
            false
        );

        function convertToMemeGenText(txt) {
            Object.entries(conversions).forEach(([key, value]) => {
                txt = txt.split(key).join(value);
            });
            if (!txt) {
                return '_';
            }
            return txt;
        }

        function getUrl() {
            var form_content = document.getElementById("editor").elements;
            var lines_content = [];
            for (var i = 0, element; element = form_content[i++];) {
                lines_content.push(convertToMemeGenText(element.value));
            }
            
            var meme_url = "/api/images/" + meme_id + "/" + lines_content.join("/") + "." + meme_ext;
            return meme_url;
        }

        function refreshLink(meme_url) {
            var result = document.getElementById("result");
            result.text = base_url + meme_url;
            result.href = meme_url;
        }

        function refreshPreview(meme_url) {
            var preview = document.getElementById("preview");
            preview.src = meme_url;
        }
    </script>
</div>
{% endblock %}
