{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Secure Meme Generator</h1>
    {% if message is defined %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Confirmation!</h4>
        <p>{{ message }}</p>
    </div>
    {% endif %}
    <h2>All Templates</h2>
    <table id="list">
        <thead>
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Template Title
                </th>
            </tr>
        </thead>
        <tbody>
            {% for template_id, template in templates_list.items() %}
            <tr>
                <td><img src="{{ template.image_url }}" /></td>
                <td><a href="/edit/{{ template_id }}">{{ template.name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Upload Your Template</h2>
    TODO
    <br />
    Adapted from <a href="https://github.com/jacebrowning/memegen">this GitHub project</a>
</div>
{% endblock %}
