{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Secure Meme Generator</h1>
    <h2>All Templates</h2>
    <table id="list">
        <thead>
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Template Title
                </th>
            </tr>
        </thead>
        <tbody>
            {% for template_id, template in templates_list.items() %}
            <tr>
                <td><img src="{{ template.image_url }}" /></td>
                <td><a href="{{ url_for('create', template_name=template_id) }}">{{ template.name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('upload') }}">Upload Your Template</a>
    <br />
    Adapted from <a href="https://github.com/jacebrowning/memegen">this GitHub project</a>
</div>
{% endblock %}
