{% extends 'base.html' %}

{% block content %}
<div class="container">
    <a href="/" class="floating-button">&#8592;</a>
    <h1>Upload The Meme Template</h1>
    {% if message is defined %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Confirmation!</h4>
        <p>{{ message }}</p>
    </div>
    {% endif %}
    <p>
        <a href="{{ url_for('doc') }}">Link to documentation</a><br />
        <b>THIS DOES NOT WORK YET!!!</b>
    </p>

    <form method="post" enctype="multipart/form-data">
        <table id="tableupload">
            <tr>
                <td>
                    <label for="tag">Template Background <b>(max 8Mo, png/jpg/jpeg)</b><br />
                        <input accept="image/*" type='file' id="imgInp" name="imgInp" required/>
                    </label><br />
                    <img id="imgPreview" src="#" alt="Image Preview" />
                </td>
                <td>
                    <label for="tag">Template Identifier <b>(unique to this template, only lowercase letters)</b><br />
                        <input type="text" id="tag" name="tag" required></input>
                    </label><br /><br />
                    <label for="yml">config.yml
                        <textarea id="yml" name="yml" required>{{ default_config }}</textarea>
                    </label><br />
                </td>
            </tr>
        </table>
        <input type="submit" id="upload" value="Upload Template!" />
    </form>
    <br />


    <script>
        document.getElementById("imgInp").addEventListener(
            'change',
            function() { 
                const [file] = document.getElementById("imgInp").files;
                if (file) { document.getElementById("imgPreview").src = URL.createObjectURL(file); }
            },
            false
        );
    </script>
</div>
{% endblock %}
